# CMake / Build
/build/
/dist/
cmake-build-*/

# IDEs
.idea/

# Release artifacts (if created outside dist/)
*.AppImage
*.dmg
*.sha256

# Secrets / env files
AuthKey_*.p8
.env
.env.*

# Editor/backup/log files (optional)
*.swp
*~
*.log
/CMakeFiles/
/CMakeCache.txt
/compile_commands.json

# Ninja
.ninja_deps
.ninja_log

# Qt Creator
*.user
*.pro.user
*.autosave

# VS Code
.vscode/
.vscode-test/

# macOS
.DS_Store

#linux
*.snap
*.flatpak